[project]
name = "investment-funnel"
version = "0.0.0"
description = "Open-source testing and benchmarking plaform for asset allocation."
authors = [{name="Petr Vanek", email="abc@gmail.com"}]
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "dash-bootstrap-components>=1.6.0",
    "dash>=2.18.2",
    "pandas>=2.2.3",
    "plotly>=5.24.1",
    "numpy>=2.1.3",
    "networkx>=3.4.2",
    "python-dateutil>=2.9.0.post0",
    "scipy>=1.14.1",
    "scikit-learn>=1.5.2",
    "matplotlib>=3.9.3",
    "pyarrow>=18.1.0",
    "yfinance>=0.2.50",
    "loguru>=0.7.2",
    "gunicorn>=23.0.0",
    "cvxpy-base>=1.6.0",
    "clarabel>=0.9.0",
    "python-dotenv>=1.0.1",
    "tqdm>=4.67.1",
    "flask>=3.0.3",
    "requests>=2.32.3",
    "pydantic-settings>=2.6.1",
]

[project.urls]
repository = "https://github.com/VanekPetr/investment-funnel"
homepage = "https://investment-funnel.algostrata.com"

[dependency-groups]
dev = [
    "pytest-cov>=6.0.0",
    "pytest>=8.3.3",
    "pre-commit>=4.0.1",
    "ecos>=2.0.14",
]

[tool.ruff]
select = ["E", "F", "I"]
line-length = 120
target-version = "py310"
exclude = [
    "*__init__.py"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["funnel"]

[tool.deptry.per_rule_ignores]
DEP001 = ["gams"]
DEP002 = ["clarabel","pyarrow","cvxpy-base","gunicorn"]

[project.scripts]
funnel = "funnel.app:main"
