pandas
pandas-datareader
dash
dash-bootstrap-components
plotly
plotly-express
python-dateutil
pulp
numpy
networkx
matplotlib
scikit-learn
scipy
pyarrow
yfinance
loguru
joblib
gunicorn
python-dotenv
cvxpy
ecos
pydantic
pydantic-settings
tqdm