name: "testing"

on:
  push

jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        python-version: ['3.10', '3.11', '3.12', '3.13' ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4

      - uses: cvxgrp/.github/actions/uv/test@v2.0.6
        with:
          python-version: ${{ matrix.python-version }}
          source-folder: 'funnel'
